@charset "utf-8";
/* CSS Document */

body{
    background-color: #2A9D8F;
    margin: 0px;
}

/* stilen til headeren*/
.header {
    background-color: #264653;
    padding: 25px;
}

/* info om hvordan boksene skal se ut og plasseres */
.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 75px;
    /* padding-top: 75px; */
    grid-gap: 60px;
}

/* stilen til alle boksene*/
.box {
    background-color: #F4A261;
    border-radius: 10px;
    border: #E9C46A;
    border-width: 10px;
    border-style: solid ;
    text-align: center;
}

.box-header {
    background-color: #E76F51;
}

/*

ol.
:

*/